.toolbar {
  position: sticky;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 30px 40px;
  border-radius: 20px;
  background-color: #a2b0c0;
  box-sizing: border-box;
  width: 100%;
  z-index: 3;
}

.toolbar-inner-toggler {
  position: relative;
  width: 42px;
  height: 42px;
  border-radius: 10px;
  box-shadow: 0 2px 5px 0 #61616166;
  background-color: #ffffff;
  transition: 0.1s;
}

.toolbar-inner-toggler span {
  position: absolute;
  display: inline-block;
  width: 21px;
  height: 3px;
  border-radius: 2px;
  background-color: #29384a;
  transition: 0.2s;
}

.toolbar-inner-toggler span:nth-child(1) {
  top: 12px;
  left: 10px;
}

.toolbar-inner-toggler span:nth-child(2) {
  top: 19.5px;
  left: 10px;
}

.toolbar-inner-toggler span:nth-child(3) {
  bottom: 12px;
  left: 10px;
}

.toolbar-inner-open ~ .toolbar-inner-toggler span:nth-child(1) {
  top: 20px;
  left: 8.5px;
  width: 24.5px;
  transform: rotate(45deg);
}

.toolbar-inner-open ~ .toolbar-inner-toggler span:nth-child(2) {
  transform: scale(0);
}

.toolbar-inner-open ~ .toolbar-inner-toggler span:nth-child(3) {
  top: 20px;
  left: 8.5px;
  width: 24.5px;
  transform: rotate(-45deg);
}

@media (max-width: 1120px) {
  .toolbar {
    margin: 0;
    padding: 16px 25px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}

@media (min-width: 769px) {
  .toolbar-inner-toggler {
    display: none;
  }
}
