.toolbar {
  position: sticky;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 30px 40px;
  border-radius: 20px;
  background-color: #A2B0C0;
  box-sizing: border-box;
  width: 100%;
}

@media (max-width: 1120px) {
  .toolbar {
    margin: 0;
    padding: 16px 25px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}
