.date-picker {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 240px;
}

.date-picker-input {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background-color: white;
  box-sizing: border-box;
}

.date-picker-placeholder,
.date-picker-value {
  padding: 10px 0 10px 14px;
}

.date-picker-main-placeholder {
  font-weight: 600;
  color: white;
  margin-right: auto;
  margin-bottom: 6px;
}

.date-picker-placeholder {
  opacity: 0.5;
}

.date-picker-icon {
  width: 40px;
  height: 40px;
  background-image: url("../../assets/date-picker-icon.svg");
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: 0.2s;
}

.date-picker-toggler {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
}

.date-picker-toggler:checked ~ .date-picker-panel {
  opacity: 1;
  transform: translateY(0);
  z-index: 1;
  height: unset;
  animation: 0.2s dayPickerPanelOpen;
}

.date-picker-toggler:checked + .date-picker-icon {
  background-color: #E7F0FA;
}

.date-picker-panel {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  top: 105%;
  width: 100%;
  opacity: 0;
  height: 0;
  box-sizing: border-box;
  padding: 0 4px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px 0 #61616180;
  transform: translateY(-10px);
  overflow: hidden;
  z-index: -1;
}

.date-picker-current-position {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 0 15px;
  box-sizing: border-box;
  margin-top: 10px;
}

.arrow-back, .arrow-forward {
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 6px;
  border: 1px dashed transparent;
  border-radius: 5px;
  cursor: pointer;
}

.arrow-back:hover, .arrow-forward:hover {
  border: 1px dashed #cbcbcb;
}

.arrow-back {
  background-image: url("../../assets/day-picker-arrow-back.svg");
}

.arrow-forward {
  background-image: url("../../assets/day-picker-arrow-forward.svg");
}

.date-picker-current-month {
  margin: 0 auto;
}

.date-picker-current-year {
  margin: 0 17px 0 0;
}

.date-picker-week-names {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  min-height: 18px;
  font-size: 12px;
  border-radius: 2px;
  color: #CCCCCC;
  background-color: #F0F0F0;
  margin-top: 5px;
}

.day-picker-month-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 7px;
  margin-bottom: 10px;
}

.date-picker-month-day {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #29384A;
  cursor: pointer;
  font-weight: 500;
  margin: 0 auto;
}

.date-picker-month-day:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.date-picker-not-current-month {
  color: #CCCCCC;
}

.day-picker-day-weekend {
  color: #D1585B;
}

.date-picker-day-in-future {
  display: none;
}

.date-picker-current-day {
  border-radius: 5px;
  background-color: #29384A;
  color: white;
}

/*@media (max-width: 724px) {*/
/*  .date-picker {*/
/*    min-width: 200px;*/
/*  }*/

/*  .date-picker-input {*/
/*    font-size: 12px;*/
/*    height: 32px;*/
/*  }*/

/*  .date-picker-icon {*/
/*    width: 26px;*/
/*    height: 32px;*/
/*  }*/

/*  .date-picker-month-day {*/
/*    width: 26px;*/
/*    height: 26px;*/
/*  }*/

/*  .date-picker-week-names {*/
/*    font-size: 11px;*/
/*  }*/
/*}*/

@keyframes dayPickerPanelOpen {
  0% {
    height: unset;
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    height: unset;
    transform: translateY(0);
    opacity: 1;
  }
}
