h1, h2 {
  margin: 0;
}

.toolbar-inner {
  display: flex;
  justify-content: space-between;
  gap: 14px 30px;
  align-items: center;
  width: 100%;
}

.toolbar-form {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 90px;
  margin-left: auto;
}

.bonuses-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  overflow: auto;
  padding: 10px 0;
}

.bonuses-paper {
  padding: 15px 30px 20px;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-sizing: border-box;
}

.bonuses-paper-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #29384A;
  font-weight: 700;
  margin: 0 0 15px;
}

.bonuses-table {
  display: flex;
  flex-direction: column;
}

.service-group-block,
.location-block {
  width: 49.3%;
}

.bonuses-table-title-row {
  display: flex;
}

.bonuses-table-value-row {
  display: flex;
}

.table-col-title,
.bonuses-table-title-row span {
  width: 50%;
  background-color: #29384A;
  padding: 7px 0;
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
}

.table-col-value,
.bonuses-table-value-row span {
  width: 50%;
  background-color: #E7F0FA;
  padding: 7px 0;
  font-size: 20px;
  font-weight: 600;
  color: #29384A;
}

.bonuses-table-1,
.bonuses-table-2,
.bonuses-table-3,
.bonuses-table-4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.bonuses-table-2 {
  justify-content: flex-start;
}

.bonuses-table-2 .table-col {
  min-width: 170px;
  max-width: 350px;
}

.table-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
}

.table-col-title,
.table-col-value {
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 10px;
  flex-grow: 1;
}

.table-col-value-red {
  align-items: center;
  background-color: #D1585B;
  color: #FFFFFF;
  font-size: 24px;
}

.table-col-value-yellow {
  align-items: center;
  background-color: #FBDF35;
  color: #29384A;
}

.border-red {
  border: 3px solid #D1585B;
  color: #29384A;
  border-radius: 6px;
}

.border-yellow {
  align-items: center;
  background-color: transparent;
  color: #FFFFFF;
  border: 3px solid #FBDF35;
  border-radius: 10px;
}

.table-col-value-minus {
  color: #D1585B;
}

.table-col-value-plus {
  color: #60d158;
}

.currentPercentage-decrease,
.currentPercentage-increase,
.additionalEarningPercentage-decrease,
.additionalEarningPercentage-increase {
  height: 50%;
  font-size: 14px;
  line-height: 12px;
  cursor: pointer;
  padding: 1px 3px;
  text-align: center;
}

.currentPercentage-decrease:hover,
.currentPercentage-increase:hover {
  background-color: #E7F0FA;
  user-select: none;
}

.additionalEarningPercentage-decrease:hover,
.additionalEarningPercentage-increase:hover {
  background-color: rgba(255, 255, 255, 0.25);
  user-select: none;
}

.editable-input {
  margin: 0 5px 0 10px;
  width: 40px;
  font-size: 18px;
  border: 0;
  background-color: #f6faff;
  outline: none;
  padding: 2px 4px 0 4px;
  border-radius: 6px;
  font-weight: 600;
  text-align: center;
}

.non-actives-list-loader {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

.non-actives-list-loader::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25px;
  height: 25px;
  transform: translate(-50%, -50%) rotate(0);
  border-radius: 50%;
  border: 5px solid #29384a;
  border-right: 5px solid transparent;
  animation: loaderSpin 0.8s infinite linear;
}

.non-actives-list {
  position: absolute;
  top: 10px;
  left: 6px;
  width: 600px;
  height: 500px;
  box-shadow: 0 2px 10px 0 #61616180;
  cursor: auto;
  padding: 6px;
  z-index: 2;
  overflow: hidden;
}

.export-to-excel {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 3px;
  border-radius: 3px;
}

.close-actives-modal {
  position: relative;
  display: flex;
  min-width: 30px;
  height: 30px;
  border-radius: 4px;
  box-shadow: 0 1px 5px 0 #61616166;
  transition: 0.1s;
}

.close-actives-modal::before,
.close-actives-modal::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 2px;
  border-radius: 3px;
  background-color: black;
}

.close-actives-modal::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.close-actives-modal::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.export-to-excel:hover {
  background-color: rgba(38, 148, 30, 0.28);
}

.export-to-excel span {
  line-height: 16px;
}

.non-actives-list-inner {
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: auto;
  border-radius: 5px;
  transition: 0.1s;
}

.non-actives-list-inner-arrow-left {
  position: absolute;
  content: '';
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%) rotate(90deg);
  width: 120px;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.30);
  background-image: url("../../assets/arrow-white.svg");
  background-repeat: no-repeat;
  background-position: center 25px;
  background-size: 30px;
  border-radius: 50%;
  z-index: 1;
}

.non-actives-list-inner-arrow-right {
  position: absolute;
  content: '';
  top: 50%;
  right: 0;
  transform: translate(50%, -50%) rotate(-90deg);
  width: 120px;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.30);
  background-image: url("../../assets/arrow-white.svg");
  background-repeat: no-repeat;
  background-position: center 25px;
  background-size: 30px;
  border-radius: 50%;
  z-index: 1;
}

.non-actives-list-item {
  position: relative;
  display: flex;
  gap: 12px;
  background-color: #e7f0fa;
  padding: 4px 8px;
  color: black;
  font-size: 16px;
}

.last-viewed-active {
  background-color: #a4cfff;
}

.non-actives-list-item-ls-abon,
.non-actives-list-item-address,
.non-actives-list-item-balance,
.non-actives-list-item-ip-address {
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: left;
  user-select: none;
}

.non-actives-list-item-ip-address {
  min-width: 125px;
}

.non-actives-list-item-balance {
  min-width: 100px;
}

.non-actives-list-item-ls-abon span:nth-child(2),
.non-actives-list-item-address span:nth-child(2),
.non-actives-list-item-balance span:nth-child(2),
.non-actives-list-item-ip-address span:nth-child(2) {
  font-weight: 400;
}

.total-bonus {
  font-weight: 800;
}

.can-earn-more-block {
  width: 780px;
}

.br-r-10 {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.br-l-10 {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.br-r-0 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.br-l-0 {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

@media (max-width: 910px) {
  .toolbar-form {
    gap: 78px;
  }
}

@media (max-width: 768px) {
  .toolbar-inner {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 14px 30px;
    align-items: center;
    background-color: #29384A;
    box-sizing: border-box;
    overflow: hidden;
    transition: 0.2s;
  }

  .toolbar-inner-open {
    width: 100%;
  }

  .toolbar-form {
    flex-direction: column;
    align-items: center;
    margin: auto 0;
    width: 100%;
    gap: 30px;
  }

  .autocomplete, .date-picker {
    width: 50%;
  }

  .toolbar-form #button {
    width: 50% !important;
    max-width: unset;
  }

  .logout-btn {
    margin: auto 0 50px;
  }

  .bonuses-paper {
    padding: 8px 10px 12px;
  }

  .non-actives-list-item {
    font-size: 12px;
    gap: 8px;
    padding: 5px;
  }

  .non-actives-list-item-ip-address {
    min-width: unset;
  }

  .non-actives-list-item-balance {
    min-width: 70px;
  }

  .bonuses-table-title-row span,
  .bonuses-table-value-row span,
  .table-col-title,
  .table-col-value {
    font-size: 14px;
  }

  .table-col-title,
  .table-col-value {
    display: flex;
    align-items: center;
  }

  .location-block,
  .service-group-block {
    width: 100%;
  }

  .location-block span {
    font-size: 14px!important;
  }

  .bonuses-paper-title {
    font-size: 20px;
  }

  .bonuses-table-1,
  .bonuses-table-2,
  .bonuses-table-3,
  .bonuses-table-4 {
    flex-direction: column;
    gap: 4px;
  }

  .table-col {
    flex-direction: row;
    width: 100% !important;
    gap: 4px;
  }

  .table-col-title {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .table-col-value {
    width: 30%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .can-earn-more-block {
    flex-direction: column-reverse;
    width: unset;
  }

  .total-bonuses {
    width: 100% !important;
  }

  .can-earn-more-block h2 {
    font-size: 16px !important;
  }

  .can-earn-more-block h1,
  .total-bonuses h1,
  .total-bonuses h2 {
    font-size: 18px;
  }

  .editable-input {
    font-size: 14px;
  }
}

@media (max-width: 476px) {
  .autocomplete, .date-picker {
    width: 95%;
  }

  .date-picker-panel,
  .date-picker-panel-open {
    left: 50%;
    transform: translateX(-50%);
  }
}

@keyframes loaderSpin {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
