html {
  width: 1440px!important;
}

html, body, #root, .App {
  height: 100%;
}

.App {
  position: relative;
  text-align: center;
  max-width: 1440px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  html {
    width: 100%!important;
    height: 100%;
  }
}
