.report-list-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 10px;
}

.report-list-item {
  background-color: #E7F0FA;
  border-radius: 12px;
  padding: 10px;
  box-sizing: border-box;
}

.report-list-item h3 {
  margin: 0 0 5px;
}
